ul, li{
margin: 0;
padding: 0;
}
li {
	list-style: none;
	display: list-item;
	}

ul {
	display: block;
	list-style-type: disc;
	}
.quare1
{
	
	line-height:25px;
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #707070;
	background-color:#FFFFFF;
	text-align:center;
	cursor:pointer;
	
	
}
.quare1:link,.quare1:visited,.quare1:active{color:#707070;text-decoration: none;}
.quare1:hover
{
color:#0c3e5b;	

}